*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body{
  max-width: 1600px;
}
/*Menu de registro */
#myVideo {

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  filter: blur(5px);
}
/*Menu de registro */
.cajalogin{
  /* background-color: rgb(110, 193, 201); */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.30);

}
.vid{
  color: white;
  position: relaive;
  text-align: center;
  box-sizing: border-box;
  width: 20vw;
  /* background-color: rgba(174, 231, 252, 0.39); */
  padding: 20px;
  top: 20vh;
}
.artilogin{
  text-align: center;
  box-sizing: border-box;
  position: relative;
  top: 20vh;
}
.botonlog{
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  background-color: #603cd0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
  .botonlog:hover{
    color: #ffffff;
    background-color: #a7aece;;
  }
  .botonlog2{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #603cd0;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
  }
    .botonlog2:hover{
      color: #ffffff;
      background-color: #a7aece;
    }
    .barramenu{
      margin-right: 1%;
      margin-left: 1%;
      z-index: 1;
      position: absolute;
      top: 0;
      display: flex;
      position: sticky;
      justify-content: flex-end;
      top: 0;
      /* padding-left: 40%; */
      flex-wrap: nowrap;
    }
    .container{
      background-color: #7c5cff;
    }



    .botonlog3{
      margin: 0;
      margin-top: 10px;
      margin-right: 1%;
      border: solid 1px rgba(0, 0, 0, 0.1);
      display: block;
      text-decoration: none;
      font-size: 20px;
      color: white;
      background-color: rgba(0, 0, 0, 0.1);
      width: 9%;
      height: 6vh;
      text-align: center;
      padding: 6px;
      border-radius: 5%;
    }
    .botonlog4{
      margin: 0;
      margin-top: 10px;
      /* border: solid 1px rgba(234, 164, 198, 0.5); */
      display: block;
      text-decoration: none;
      font-size: 20px;
      color: #7c5cff;
      background-color: white;
      width: 9%;
      height: 6vh;
      text-align: center;
      padding: 6px;
      border-radius: 5%;
    }
    .titulog{
      font-size: 6rem;
      color: white;
      text-shadow: -2px -2px 1px #000;

    }
    .titulog2{
      font-size: 6rem;
      color: white;
      text-shadow: -2px -2px 1px #000;

    }
    .iconoprin{
      position: fixed;
      width: 5vw;
      left: 10px;
      top: 7px;
      border-radius: 30%;
    }
    .flecha{
      width: 100px;
      height: 70px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
    /* IMAGENES */
    #a{
      background-image: url(../images/inicio/1.jpg);
      background-size: 100% 100%;
    }
    #b{
      background-image: url(../images/inicio/2.jpg);
      background-size: 100% 100%;
    }
    #c{
      background-image: url(../images/inicio/3.jpg);
      background-size: 100% 100%;
    }
    #d{
      background-image: url(../images/inicio/4.jpg);
      background-size: 100% 100%;
    }
    #e{
      background-image: url(../images/inicio/5.jpg);
      background-size: 100% 100%;
    }
    #f{
      background-image: url(../images/inicio/6.jpg);
      background-size: 100% 100%;
    }
    #g{
      background-image: url(../images/inicio/7.jpg);
      background-size: 100% 100%;
    }
    #h{
      background-image: url(../images/inicio/8.jpg);
      background-size: 100% 100%;
    }
    #i{
      background-image: url(../images/inicio/9.jpg);
      background-size: 100% 100%;
    }
    #j{
      background-image: url(../images/inicio/10.jpg);
      background-size: 100% 100%;
    }
    #k{
      background-image: url(../images/inicio/11.jpg);
      background-size: contain;
    }

    #l{
      background-image: url(../images/inicio/12.jpg);
      background-size: 100% 100%;
    }
    #m{
      background-image: url(../images/inicio/13.jpg);
      background-size: 100% 100%;
    }
    #n{
      background-image: url(../images/inicio/14.jpg);
      background-size: 100% 100%;
    }
    #o{
      background-image: url(../images/inicio/15.jpg);
      background-size: 100% 100%;
    }

    #p{
      background-image: url(../images/inicio/16.jpg);
      background-size: 100% 100%;
    }
    #q{
      background-image: url(../images/inicio/17.jpg);
      background-size: 100% 100%;
    }
    #r{
      background-image: url(../images/inicio/18.png);
      background-size: 100% 100%;
    }
    #s{
      background-image: url(../images/inicio/19.jpg);
      background-size: 100% 100%;
    }




/* FIN */
    /*Fin*/
/* navbar home */
.navbar{
  position: fixed;
  top: 0;
  display: flex;
  height: 12vh;
  background-color:#977fc2;
  z-index: 5;
}
.iconosderecha{
  width: 90vw;
}
.perfil{
  width: 10vw;
  text-align: center;
}
.ic{
  height: 60%;
  display: flex;
  justify-content: flex-end;
}
.iconosbarra{
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 15px;;
}
.iconoprin2{
  position:  fixed;
  width: 5vw;
  left: 10px;
  top: 7px;
  border-radius: 30%;
}
.input{
  position: relative;
    left: 60px;
    top: 25px;
    width: 30vw;
    height: 30px;
}
.iconosbarra2{
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-left: 90px;
}
.fotoperfil{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 2px;
}
.nombreusuario{
  text-align: center;
}

/* Fin */
/* Preguntas y respuestas */
.container h1{
  font-size: 2.7rem;
  color: white;
  margin-bottom: 5%;
}
.container p{
  font-size: 1.5rem;
  color: white;
}
.preg1{
  background-color: #7c5cff;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.contenido1{
  width: 60%;
  margin-top: 4%;
  margin-bottom: 2%;

}
.contenido1 img{
  height: 40vh;
  margin-bottom: 1.5%;
}


.preg2{

 background-color: #ff8a00;
  height: 100vh;
  text-align: center;
  display: flex;

}
.contenido2{
display: flex;
flex-wrap: wrap;
margin: 2%;
justify-content: space-between;
align-items: center;
}
.contenido2 img{
  height: 50vh;

}
.data1{
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* fin parte fati */

.caja3{
  background-color: #0b7477;
  height: 100vh;
  display: flex;
}
.titulo3{
display: flex;
align-items: center;
margin: 2%;
}
.a{
  width: 75vh;
  border-radius: 10%;
}
.texto1{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.caja4{
  background-color: #5cb127;
  height: 100vh;
  display: flex;
}
.titulo4{
  display: flex;
  align-items: center;
  margin: 2%;
}
.b{
  width: 30%;
  border-radius: 48%;
}
.texto2{
  display: flex;
  flex-direction: column;
  width: 30%;
}
/* footer */

.foot{
display: flex;
background-color: grey;
list-style-type: none;
width: 100%;
height: 8vh;
padding: 10px;
font-size: 1.3rem;
}
.foot li{
  margin: 0 10px;
}
.foot a{
  text-decoration: none;
  color: white;
}
/* Login */
.login{
  text-align: center;
  box-sizing: border-box;
  /* background-color: rgba(174, 231, 252, 0.39); */
  position: relative;
  top: 20vh;
  width: 20vw;
}
.login input{
  width: 20vw;
  height: 5vh;
  margin-top: 10px;
}

/* fin */

/* Formularios de registros  */
.cajareg{
  position: relative;
  top: 12vh;
  width: 45%;
  height: 48vh;
  display: flex;
  flex-direction: column;

}

.cajatitulo{
  text-align: center;
  color: white;
}
.cajatitulo h3{
  position: relative;
  bottom: 2vh;
}
.botoninic{
  text-align: center;
  width: 8%;
  height: 5vh;
  padding: 6px;
  text-decoration: none;
  position: absolute;
  left: 90%;
  top: 17px;
  background-color: #6745d0c4;
  color: white;
  border: solid 1px #a7aece;
}
.formulario{
  display: flex;
}
.reg1{
width: 20vw;
height: 5vh;
margin-left: 11px;
border-top: none;
border-right: none;
border-left: none;
border-bottom: solid 2px #4c31a0;
background-color: #82808e00;
}
.regh3{
  margin-left: 11px;
}
.formulario2{
background-color:  rgba(167, 174, 206, 0.7);
color: #212121;
padding-left: 4%
}
.f2{
  margin-left: 17px
}
.botonreg{
  width: 73%;
  height: 5vh;
  margin-left: 58px;
  text-decoration: none;
  background-color: #6745d0c4;
  color: white;
  border: solid 1px #a7aece;
  font-size: 1.0rem;
}

.registro{
background-color:  rgba(167, 174, 206, 0.7);
color: #212121;
}
.registro label{
  font-size: 1.1rem;
  margin-left: 16px;
  margin-top: 10px;
}
.registro h4{
  margin-left: 16px;
  font-size: 1.1rem;
}

.date{
  margin-right: 48px;
  margin-top: 18px;
  margin-left: 10px;
}
.genero{
margin: 2%;
width: 5%;
}

/* registro mascota */
.selectorcolor{
  width: 100%;
}

.registromascota{
  box-sizing: border-box;
  position: relative;
  top: 13vh;
  width: 26%;
}
.botomitir{
  text-align: center;
  width: 9%;
  height: 5vh;
  padding: 6px;
  text-decoration: none;
  position: absolute;
  bottom: 3vh;
  left: 12px;
  background-color: #6745d0c4;
  color: white;
  border: solid 1px #a7aece
}
/* Fin */
.Home{
  background-color: #fafafa;
}
.cuerpohome{
  max-width: 935px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20vh;
  position: relative;


}
/* Secciones del Home */
.seccionizq{
  max-width: 614px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  position: absolute;
  /* float: left; */
  z-index: 1;

}
.headerperfil{
  width: 100%;
  height: 60px;
  background-color: white;
  position: relative;
}
.headerperfil img{
  border-radius: 50%;
  display:inline-block;
  margin-left: 10px;
  margin-top: 5px;
  border: solid 1px #424242;;

}
.nombreperfil{
display: inline-block;
text-decoration: none;
color: black;
position: absolute;
margin-left: 10px;
top: 21px;
}
.perfilamigo{
  border: solid 1px grey;
  display: flex;
  flex-direction: column;
}
.descrip{
  width: 100%;
  background-color: white;
}
.icon-like{
  margin-left: 2%;
  margin-right: 2%;
}
.icon-comm{
  margin-right: 75%;
}
.linkmascoment{
  text-decoration: none;
  color: grey;
}
.nombrecoment{
  text-decoration: none;
  color: black;
  display: inline-block;
}
.descrip p{
  display: inline-block;
}
.hacer-comentario textarea {
  width: 100%;
  border-right: none;
  border-left: none;
  border-bottom: none;
  resize: none;
}
.hacer-comentario button{
  border: none;
  background-color: white;
  color: grey;
}
.hacer-comentario button:focus{
  color: #7943dd;
}



.seccionder{
  /* width: 36%; */
  border: solid black 2px;
  /* - */
 max-width: 293px;
 right: 12%;
 left: 67%;
 position: fixed;
 width: 100%;
 height: 72vh;
 margin-top: 50px;
}

/* Seccion 2 */
.sugeridos h1{
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: darkgrey;
  font-size: 1.5rem;
}
/* .adopciones h2{
  text-align: center;
  position: relative;
  top: -9vw;
} */
.img{
  width: 19%;
  border-radius: 5vh;
  margin-left: 5px;
  border: solid black 1px;
}
.sugeridos{
  border: solid 1px grey;
  width: 100%;
  height: 28vh;
  overflow: auto;
  background-color: white;
}
.sugeridos a{
  width: 73%;
  display: inline-block;
  position: relative;
  bottom: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.adopciones{
  width: 100%;
  height: 28vh;
  margin-top: 9%;
  border: solid 1px grey;
  }
.adopciones button{
  position: relative;
  left: 74%;
  top: -6vh;
  height: 28px;
  width: 64px;
  background-color: #603dce;
  color: white;
  border: solid 1px #a7aece;
  padding: 6px;
  text-decoration: none;
}
/* .adopciones img{
  height: 224px;
  width: 267px;
} */

/* Media query */

/* Tablet */
/* Index */
@media screen and (max-width: 1199px){

.vid{
  width: 40vw;
}
.iconoprin{
  width: 8vw;
}
.botonlog3{
 width: fit-content;
}
.botonlog4{
  width: fit-content;
}
/* Login */
.botoninic{
  left: 85%;
  width: fit-content;
}}
/* fin Tablet */

/* Celular */
/* index */
@media screen and (max-width: 480px){
.imgpreg1{
  display: none;
}
.imgpreg2{
  display: none;
}
.a{
  display: none;
}
.b{
  display: none;
}
.preg1{
  height: 50vh;
}
.preg2{
  height: 50vh;
}
.caja3{
  height: 50vh;
}
.caja4{
  height: 50vh;
}
.vid{
  width: 100vw;
}
.artilogin{
  width: 100vw;
}
.iconoprin{
  width: 20vw;
  z-index: 10;
}
.foot a{
  font-size: 0.8em;
}
.botonlog3{
 width: fit-content;
}
.botonlog4{
  width: fit-content;
}
.container h1{
  font-size: 2rem;
}
.container p{
  font-size: 1rem;
}
.data1{
   width: 60%;
}
.texto1{
  width: 60%;
}
.texto2{
  width: 60%;
}
/* fin index */
/* Login */
.botoninic{
  left: 70%;
  width: fit-content;
}
.login{
  width: 80vw;
}
.login input{
  width: 80vw;
  height: 7vh;
}
#a{
  background-image: url(../images/celular/1.jpg);
  background-size: 100% 100%;
}
#b{
  background-image: url(../images/celular/2.jpg);
  background-size: 100% 100%;
}
#c{
  background-image: url(../images/celular/3.jpg);
  background-size: 100% 100%;
}
#d{
  background-image: url(../images/celular/4.jpg);
  background-size: 100% 100%;
}
#e{
  background-image: url(../images/celular/5.jpg);
  background-size: 100% 100%;
}
#f{
  background-image: url(../images/celular/6.jpg);
  background-size: 100% 100%;
}
#g{
  background-image: url(../images/celular/7.jpg);
  background-size: 100% 100%;
}
#h{
  background-image: url(../images/celular/8.jpg);
  background-size: 100% 100%;
}
#i{
  background-image: url(../images/celular/9.jpg);
  background-size: 100% 100%;
}
#j{
  background-image: url(../images/celular/10.jpg);
  background-size: 100% 100%;
}
#k{
  background-image: url(../images/celular/11.jpg);
  background-size: contain;
}

#l{
  background-image: url(../images/celular/12.jpg);
  background-size: 100% 100%;
}
#m{
  background-image: url(../images/celular/13.jpg);
  background-size: 100% 100%;
}
#n{
  background-image: url(../images/celular/14.jpg);
  background-size: 100% 100%;
}
#o{
  background-image: url(../images/celular/15.jpg);
  background-size: 100% 100%;
}

#p{
  background-image: url(../images/celular/16.jpg);
  background-size: 100% 100%;
}
#q{
  background-image: url(../images/celular/17.jpg);
  background-size: 100% 100%;
}
#r{
  background-image: url(../images/celular/18.png);
  background-size: 100% 100%;
}
#s{
  background-image: url(../images/celular/19.jpg);
  background-size: 100% 100%;
}

}
/* Fin login */
/* FIN celular */
